html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #80C8DB;
	color: #FFFFFF;
	min-height: 240px;
	font-family: sans-serif;
	font-size: 22px;
}

html, body {
	height: 100%;
}

div {
	min-height: 100%;
}

svg {
	display: block;
	margin: -240px auto 0;
}
